// color
$transparent = transparent
$white_fff = #ffffff
$black_000 = #000

// Font Size
$font_family_ja = "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
$font_family_en = "Helvetica Neue",Arial,sans-serif;
